@import "adaptive property.scss";

.drag {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FDFDFD;
    @include adaptiv-value('padding', 20, 15);
    font-family: 'Ubuntu', monospace;
    display: none;

    &__border {
        display: flex;
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        @include adaptiv-value('border-radius', 12, 6);
        border: 2px dashed rgba(0, 42, 104, .3);
    }

    &__container {
        padding: 0 !important;
    }

    &__content {
        text-align: center;
    }

    &__icon {
        @include adaptiv-value('margin-bottom', 20, 10);

        & svg {
            width: 25vh;
            fill: rgba(0, 0, 0, .5);
        }
    }

    &__text {
        font-size: 28 / 23 * 1rem;
        font-weight: bold;
        opacity: .9;
    }

    &__tip {
        font-size: .8rem;
        opacity: .5;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include adaptiv-value('bottom', 30, 25);
    }
}