@import "adaptive property.scss";

.info {
    @include adaptiv-value('margin-top', 30, 13);
    
    & section {
        display: flex;

    }

    &__icon {
        width: 100%;
        @include adaptiv-value('max-height', 30, 23);
        @include adaptiv-value('max-width', 30, 23);
        @include adaptiv-value('margin-right', 15, 8);

        & img {
            width: 100%;
            @include adaptiv-value('max-width', 30, 23);
            @include adaptiv-value('max-height', 30, 23);
        }
    }

    &__text {
        opacity: .8;
    }

    @media screen and (max-width: 617px) {
        & section {
            display: block;
        }

        &__icon {
            float: left;
        }
    }
}